  <nav style="height: 80px;">
    <div class="nav-wrapper #1a237e indigo darken-4">
      <a href="/" class="brand-logo left">Início</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a class="notice"><%= notice %></a>
         <a class="alert"><%= alert %></a></li>


        <li><a class="navbar-text pull-right">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Se inscrever", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </a></li>
        
      </ul>
    </div>
  </nav>
  
<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Atualmente esperando confirmação para: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "Senha" %> <i>(deixe em branco se você não quiser alterar)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> mínimo de caracteres/em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "Confirme a senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Senha atual" %> <i>(Nós precisamos da sua senha atual para confirmar as mudanças)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar" %>
  </div>
<% end %>

<h3>Cancelar minha conta</h3>

<p>Infeliz? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza" }, method: :delete %></p>

<%= link_to "Voltar", :back %>
