  <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

<!-- Barra de navegação -->
  <nav style="height: 80px;">
    <div class="nav-wrapper #1a237e indigo darken-4">
      <a href="/" class="brand-logo">Início</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a class="notice"><%= notice %></a>
         <a class="alert"><%= alert %></a></li>

        <li><a class="navbar-text pull-right"> 
          <% if user_signed_in? and current_user.email == "administrador@unb.com.br"%>
            Logged in as <strong><%= current_user.email %></strong>
            <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <%= link_to "Cadastrar Disciplina", "/disciplinas/new"%>
          <%elsif user_signed_in?%>
            Logged in as <strong><%= current_user.email %></strong>
            <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Se inscrever", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </a></li>

      </ul>
    </div>
  </nav>

<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

<body>
 <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>

 <div class="container">


  <div class="row">
    <div class="col s12 m6">
      <div class="card #1b5e20 green darken-4">
        <div class="card-content white-text">
          <span class="card-title">Status</span>
          <p>IRA: <%= number_with_precision(@ira, :precision => 4)%></p>
          <p>Porcentagem concluída: <%= number_with_precision(@porcentagem, :precision => 2).to_s + "%"%></p>
          <p>Para se formar em 5 anos você deve pegar <%= number_with_precision(@previsao, :precision => 0).to_s + " créditos por semestre"%></p>
        </div>
        <div class="card-action">
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card #1b5e20 green darken-4">
        <div class="card-content white-text">
          <span class="card-title">Atualiza status</span>
          <table>
            <thead>
              <th>Disciplinas obrigatórias: <%= @obrigatorias %></th>
              <th>Disciplinas optativas: <%= @optativas %></th>
              <th colspan="3"></th>
            </thead>
            <tbody>
              <tr>
                <td>
                <form action = "/semestre" method = "post">
                  <select name="obrigatorias" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Selecione a quantia</option>
                    <% for i in 0..100%>
                      <option value=<%= i %>><%= i %></option>
                    <% end %>
                  </select>
                </td>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="optativas" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Selecione a quantia</option>
                    <% for i in 0..100%>
                      <option value=<%= i %> ><%= i %></option>
                    <% end %>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
          <button type="submit" name="ok" value="ok_btn" class="btn-floating btn-large green">OK</button>
        </div>
      </div>
    </div>
   </div>


   <div class="row">
<!--################################## 1° semestre #####################################################-->
    <div class="col s12 m6">
      <div class="card #1b5e20 green darken-4">
        <div class="card-content white-text">
        <span class="card-title">1° Semestre &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <font size="6" color=#ffcc66>
        <%@soma = 0%>
        <%for disciplina in current_user.disciplinas.all%>
          <% if disciplina.semestre.include? "1" and disciplina.mencao.to_i >= 3 %>
            <% @soma += disciplina.creditos%>
          <%end%>
        <%end%>
        <%= @soma%>
        </font> <font size="2">créditos</font> </span>

          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Menção</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="disciplina_1" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Disciplina</option>

                    <%for disciplina in Disciplina.all%>

                      <% if !disciplina.nome.include? '*'%>
                        <option value= <%= disciplina.id %> > <%= disciplina.nome %> </option>
                      <% end %>

                    <% end %>
                  </select>

                </td>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="mencao_1" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Selecione sua menção</option>
                    <option value=5>SS</option>
                    <option value=4>MS</option>
                    <option value=3>MM</option>
                    <option value=2>MI</option>
                    <option value=1>II</option>
                    <option value=0>SR</option>
                  </select>
                </td>
                <td>
                  <% for disciplina in current_user.disciplinas%>
                    <tr>
                      <% if disciplina.semestre.include? "1" %>
                      <td><%= disciplina.nome.split('*')[0] %></td>
                      <td><% if disciplina.mencao == "0" %>
                            <%= "SR" %>
                          <%elsif disciplina.mencao == "1"%>
                            <%= "II" %>
                          <% elsif disciplina.mencao == "2"%>
                            <%= "MI" %>
                          <% elsif disciplina.mencao == "3"%>
                            <%= "MM" %>
                          <% elsif disciplina.mencao == "4"%>
                            <%= "MS"%>
                          <% elsif disciplina.mencao == "5"%>
                            <%= "SS"%>
                          <% end %>
                      </td>
                      <% end %>
                    </tr>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
             <button type="submit" name="add_1" value="1" class="btn-floating btn-large green"><i class="material-icons">add</i></button>
             <button type="submit" name="sub_1" value="-1" class="btn-floating btn-large red"><i class="material-icons">delete</i></button>
        </div>
      </div>
    </div>
<!--################################## 2° semestre #####################################################-->

   <div class="col s12 m6">
      <div class="card #1b5e20 green darken-4">
        <div class="card-content white-text">
        <span class="card-title">2° Semestre &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <font size="6" color=#ffcc66>
        <%@soma = 0%>
        <%for disciplina in current_user.disciplinas.all%>
          <% if disciplina.semestre.include? "2" and disciplina.mencao.to_i >= 3 %>
            <% @soma += disciplina.creditos%>
          <%end%>
        <%end%>
        <%= @soma%>
        </font> <font size="2">créditos</font> </span>
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Menção</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="disciplina_2" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Disciplina</option>

                    <%for disciplina in Disciplina.all%>

                      <% if !disciplina.nome.include? '*'%>
                        <option value= <%= disciplina.id %> > <%= disciplina.nome %> </option>
                      <% end %>

                    <% end %>
                  </select>

                </td>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="mencao_2" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Selecione sua menção</option>
                    <option value=5>SS</option>
                    <option value=4>MS</option>
                    <option value=3>MM</option>
                    <option value=2>MI</option>
                    <option value=1>II</option>
                    <option value=0>SR</option>
                  </select>
                </td>
                <td>
                  <% for disciplina in current_user.disciplinas%>
                    <tr>
                      <% if disciplina.semestre.include? "2" %>
                      <td><%= disciplina.nome.split('*')[0] %></td>
                      <td><% if disciplina.mencao == "0" %>
                            <%= "SR" %>
                          <%elsif disciplina.mencao == "1"%>
                            <%= "II" %>
                          <% elsif disciplina.mencao == "2"%>
                            <%= "MI" %>
                          <% elsif disciplina.mencao == "3"%>
                            <%= "MM" %>
                          <% elsif disciplina.mencao == "4"%>
                            <%= "MS"%>
                          <% elsif disciplina.mencao == "5"%>
                            <%= "SS"%>
                          <% end %>
                      </td>
                      <% end %>
                    </tr>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
             <button type="submit" name="add_2" value="2" class="btn-floating btn-large green"><i class="material-icons">add</i></button>
             <button type="submit" name="sub_2" value="-2" class="btn-floating btn-large red"><i class="material-icons">delete</i></button>
        </div>
      </div>
    </div>
  </div>

<!--################################## 3° semestre #####################################################-->

   <div class="row">
    <div class="col s12 m6">
      <div class="card #1b5e20 green darken-4">
        <div class="card-content white-text">
        <span class="card-title">3° Semestre &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <font size="6" color=#ffcc66>
        <%@soma = 0%>
        <%for disciplina in current_user.disciplinas.all%>
          <% if disciplina.semestre.include? "3" and disciplina.mencao.to_i >= 3 %>
            <% @soma += disciplina.creditos%>
          <%end%>
        <%end%>
        <%= @soma%>
        </font> <font size="2">créditos</font> </span>
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Menção</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="disciplina_3" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Disciplina</option>

                    <%for disciplina in Disciplina.all%>

                      <% if !disciplina.nome.include? '*'%>
                        <option value= <%= disciplina.id %> > <%= disciplina.nome %> </option>
                      <% end %>

                    <% end %>
                  </select>

                </td>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="mencao_3" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Selecione sua menção</option>
                    <option value=5>SS</option>
                    <option value=4>MS</option>
                    <option value=3>MM</option>
                    <option value=2>MI</option>
                    <option value=1>II</option>
                    <option value=0>SR</option>
                  </select>
                </td>
                <td>
                  <% for disciplina in current_user.disciplinas%>
                    <tr>
                      <% if disciplina.semestre.include? "3" %>
                      <td><%= disciplina.nome.split('*')[0] %></td>
                      <td><% if disciplina.mencao == "0" %>
                            <%= "SR" %>
                          <%elsif disciplina.mencao == "1"%>
                            <%= "II" %>
                          <% elsif disciplina.mencao == "2"%>
                            <%= "MI" %>
                          <% elsif disciplina.mencao == "3"%>
                            <%= "MM" %>
                          <% elsif disciplina.mencao == "4"%>
                            <%= "MS"%>
                          <% elsif disciplina.mencao == "5"%>
                            <%= "SS"%>
                          <% end %>
                      </td>
                      <% end %>
                    </tr>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
             <button type="submit" name="add_3" value="3" class="btn-floating btn-large green"><i class="material-icons">add</i></button>
             <button type="submit" name="sub_3" value="-3" class="btn-floating btn-large red"><i class="material-icons">delete</i></button>
        </div>
      </div>
    </div>

<!--################################## 4° semestre #####################################################-->

   <div class="col s12 m6">
      <div class="card #1b5e20 green darken-4">
        <div class="card-content white-text">
        <span class="card-title">4° Semestre &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <font size="6" color=#ffcc66>
        <%@soma = 0%>
        <%for disciplina in current_user.disciplinas.all%>
          <% if disciplina.semestre.include? "4" and disciplina.mencao.to_i >= 3 %>
            <% @soma += disciplina.creditos%>
          <%end%>
        <%end%>
        <%= @soma%>
        </font> <font size="2">créditos</font> </span>
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Menção</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="disciplina_4" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Disciplina</option>

                    <%for disciplina in Disciplina.all%>

                      <% if !disciplina.nome.include? '*'%>
                        <option value= <%= disciplina.id %> > <%= disciplina.nome %> </option>
                      <% end %>

                    <% end %>
                  </select>

                </td>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="mencao_4" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Selecione sua menção</option>
                    <option value=5>SS</option>
                    <option value=4>MS</option>
                    <option value=3>MM</option>
                    <option value=2>MI</option>
                    <option value=1>II</option>
                    <option value=0>SR</option>
                  </select>
                </td>
                <td>
                  <% for disciplina in current_user.disciplinas%>
                    <tr>
                      <% if disciplina.semestre.include? "4" %>
                      <td><%= disciplina.nome.split('*')[0] %></td>
                      <td><% if disciplina.mencao == "0" %>
                            <%= "SR" %>
                          <%elsif disciplina.mencao == "1"%>
                            <%= "II" %>
                          <% elsif disciplina.mencao == "2"%>
                            <%= "MI" %>
                          <% elsif disciplina.mencao == "3"%>
                            <%= "MM" %>
                          <% elsif disciplina.mencao == "4"%>
                            <%= "MS"%>
                          <% elsif disciplina.mencao == "5"%>
                            <%= "SS"%>
                          <% end %>
                      </td>
                      <% end %>
                    </tr>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
             <button type="submit" name="add_4" value="4" class="btn-floating btn-large green"><i class="material-icons">add</i></button>
             <button type="submit" name="sub_4" value="-4" class="btn-floating btn-large red"><i class="material-icons">delete</i></button>
        </div>
      </div>
    </div>
  </div>

<!--################################## 5° semestre #####################################################-->

   <div class="row">
    <div class="col s12 m6">
      <div class="card #1b5e20 green darken-4">
        <div class="card-content white-text">
        <span class="card-title">5° Semestre &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <font size="6" color=#ffcc66>
        <%@soma = 0%>
        <%for disciplina in current_user.disciplinas.all%>
          <% if disciplina.semestre.include? "5" and disciplina.mencao.to_i >= 3 %>
            <% @soma += disciplina.creditos%>
          <%end%>
        <%end%>
        <%= @soma%>
        </font> <font size="2">créditos</font> </span>
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Menção</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="disciplina_5" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Disciplina</option>

                    <%for disciplina in Disciplina.all%>

                      <% if !disciplina.nome.include? '*'%>
                        <option value= <%= disciplina.id %> > <%= disciplina.nome %> </option>
                      <% end %>

                    <% end %>
                  </select>

                </td>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="mencao_5" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Selecione sua menção</option>
                    <option value=5>SS</option>
                    <option value=4>MS</option>
                    <option value=3>MM</option>
                    <option value=2>MI</option>
                    <option value=1>II</option>
                    <option value=0>SR</option>
                  </select>
                </td>
                <td>
                  <% for disciplina in current_user.disciplinas%>
                    <tr>
                      <% if disciplina.semestre.include? "5" %>
                      <td><%= disciplina.nome.split('*')[0] %></td>
                      <td><% if disciplina.mencao == "0" %>
                            <%= "SR" %>
                          <%elsif disciplina.mencao == "1"%>
                            <%= "II" %>
                          <% elsif disciplina.mencao == "2"%>
                            <%= "MI" %>
                          <% elsif disciplina.mencao == "3"%>
                            <%= "MM" %>
                          <% elsif disciplina.mencao == "4"%>
                            <%= "MS"%>
                          <% elsif disciplina.mencao == "5"%>
                            <%= "SS"%>
                          <% end %>
                      </td>
                      <% end %>
                    </tr>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
             <button type="submit" name="add_5" value="5" class="btn-floating btn-large green"><i class="material-icons">add</i></button>
             <button type="submit" name="sub_5" value="-5" class="btn-floating btn-large red"><i class="material-icons">delete</i></button>
        </div>
      </div>
    </div>

<!--################################## 6° semestre #####################################################-->


   <div class="col s12 m6">
      <div class="card #1b5e20 green darken-4">
        <div class="card-content white-text">
        <span class="card-title">6° Semestre &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <font size="6" color=#ffcc66>
        <%@soma = 0%>
        <%for disciplina in current_user.disciplinas.all%>
          <% if disciplina.semestre.include? "6" and disciplina.mencao.to_i >= 3 %>
            <% @soma += disciplina.creditos%>
          <%end%>
        <%end%>
        <%= @soma%>
        </font> <font size="2">créditos</font> </span>
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Menção</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="disciplina_6" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Disciplina</option>

                    <%for disciplina in Disciplina.all%>

                      <% if !disciplina.nome.include? '*'%>
                        <option value= <%= disciplina.id %> > <%= disciplina.nome %> </option>
                      <% end %>

                    <% end %>
                  </select>

                </td>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="mencao_6" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Selecione sua menção</option>
                    <option value=5>SS</option>
                    <option value=4>MS</option>
                    <option value=3>MM</option>
                    <option value=2>MI</option>
                    <option value=1>II</option>
                    <option value=0>SR</option>
                  </select>
                </td>
                <td>
                  <% for disciplina in current_user.disciplinas%>
                    <tr>
                      <% if disciplina.semestre.include? "6" %>
                      <td><%= disciplina.nome.split('*')[0] %></td>
                      <td><% if disciplina.mencao == "0" %>
                            <%= "SR" %>
                          <%elsif disciplina.mencao == "1"%>
                            <%= "II" %>
                          <% elsif disciplina.mencao == "2"%>
                            <%= "MI" %>
                          <% elsif disciplina.mencao == "3"%>
                            <%= "MM" %>
                          <% elsif disciplina.mencao == "4"%>
                            <%= "MS"%>
                          <% elsif disciplina.mencao == "5"%>
                            <%= "SS"%>
                          <% end %>
                      </td>
                      <% end %>
                    </tr>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
             <button type="submit" name="add_6" value="6" class="btn-floating btn-large green"><i class="material-icons">add</i></button>
             <button type="submit" name="sub_6" value="-6" class="btn-floating btn-large red"><i class="material-icons">delete</i></button>
        </div>
      </div>
    </div>
  </div>

<!--################################## 7° semestre #####################################################-->

   <div class="row">
    <div class="col s12 m6">
      <div class="card #1b5e20 green darken-4">
        <div class="card-content white-text">
        <span class="card-title">7° Semestre &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <font size="6" color=#ffcc66>
        <%@soma = 0%>
        <%for disciplina in current_user.disciplinas.all%>
          <% if disciplina.semestre.include? "7" and disciplina.mencao.to_i >= 3 %>
            <% @soma += disciplina.creditos%>
          <%end%>
        <%end%>
        <%= @soma%>
        </font> <font size="2">créditos</font> </span>
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Menção</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="disciplina_7" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Disciplina</option>

                    <%for disciplina in Disciplina.all%>

                      <% if !disciplina.nome.include? '*'%>
                        <option value= <%= disciplina.id %> > <%= disciplina.nome %> </option>
                      <% end %>

                    <% end %>
                  </select>

                </td>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="mencao_7" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Selecione sua menção</option>
                    <option value=5>SS</option>
                    <option value=4>MS</option>
                    <option value=3>MM</option>
                    <option value=2>MI</option>
                    <option value=1>II</option>
                    <option value=0>SR</option>
                  </select>
                </td>
                <td>
                  <% for disciplina in current_user.disciplinas%>
                    <tr>
                      <% if disciplina.semestre.include? "7" %>
                      <td><%= disciplina.nome.split('*')[0] %></td>
                      <td><% if disciplina.mencao == "0" %>
                            <%= "SR" %>
                          <%elsif disciplina.mencao == "1"%>
                            <%= "II" %>
                          <% elsif disciplina.mencao == "2"%>
                            <%= "MI" %>
                          <% elsif disciplina.mencao == "3"%>
                            <%= "MM" %>
                          <% elsif disciplina.mencao == "4"%>
                            <%= "MS"%>
                          <% elsif disciplina.mencao == "5"%>
                            <%= "SS"%>
                          <% end %>
                      </td>
                      <% end %>
                    </tr>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
             <button type="submit" name="add_7" value="7" class="btn-floating btn-large green"><i class="material-icons">add</i></button>
             <button type="submit" name="sub_7" value="-7" class="btn-floating btn-large red"><i class="material-icons">delete</i></button>
        </div>
      </div>
    </div>

<!--################################## 8° semestre #####################################################-->

   <div class="col s12 m6">
      <div class="card #1b5e20 green darken-4">
        <div class="card-content white-text">
        <span class="card-title">8° Semestre &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <font size="6" color=#ffcc66>
        <%@soma = 0%>
        <%for disciplina in current_user.disciplinas.all%>
          <% if disciplina.semestre.include? "8" and disciplina.mencao.to_i >= 3 %>
            <% @soma += disciplina.creditos%>
          <%end%>
        <%end%>
        <%= @soma%>
        </font> <font size="2">créditos</font> </span>
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Menção</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="disciplina_8" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Disciplina</option>

                    <%for disciplina in Disciplina.all%>

                      <% if !disciplina.nome.include? '*'%>
                        <option value= <%= disciplina.id %> > <%= disciplina.nome %> </option>
                      <% end %>

                    <% end %>
                  </select>

                </td>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="mencao_8" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Selecione sua menção</option>
                    <option value=5>SS</option>
                    <option value=4>MS</option>
                    <option value=3>MM</option>
                    <option value=2>MI</option>
                    <option value=1>II</option>
                    <option value=0>SR</option>
                  </select>
                </td>
                <td>
                  <% for disciplina in current_user.disciplinas%>
                    <tr>
                      <% if disciplina.semestre.include? "8" %>
                      <td><%= disciplina.nome.split('*')[0] %></td>
                      <td><% if disciplina.mencao == "0" %>
                            <%= "SR" %>
                          <%elsif disciplina.mencao == "1"%>
                            <%= "II" %>
                          <% elsif disciplina.mencao == "2"%>
                            <%= "MI" %>
                          <% elsif disciplina.mencao == "3"%>
                            <%= "MM" %>
                          <% elsif disciplina.mencao == "4"%>
                            <%= "MS"%>
                          <% elsif disciplina.mencao == "5"%>
                            <%= "SS"%>
                          <% end %>
                      </td>
                      <% end %>
                    </tr>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
             <button type="submit" name="add_8" value="8" class="btn-floating btn-large green"><i class="material-icons">add</i></button>
             <button type="submit" name="sub_8" value="-8" class="btn-floating btn-large red"><i class="material-icons">delete</i></button>
        </div>
      </div>
    </div>
  </div>

<!--################################## 9° semestre #####################################################-->

   <div class="row">
    <div class="col s12 m6">
      <div class="card #1b5e20 green darken-4">
        <div class="card-content white-text">
        <span class="card-title">9° Semestre &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <font size="6" color=#ffcc66>
        <%@soma = 0%>
        <%for disciplina in current_user.disciplinas.all%>
          <% if disciplina.semestre.include? "9" and disciplina.mencao.to_i >= 3 %>
            <% @soma += disciplina.creditos%>
          <%end%>
        <%end%>
        <%= @soma%>
        </font> <font size="2">créditos</font> </span>
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Menção</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="disciplina_9" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Disciplina</option>

                    <%for disciplina in Disciplina.all%>

                      <% if !disciplina.nome.include? '*'%>
                        <option value= <%= disciplina.id %> > <%= disciplina.nome %> </option>
                      <% end %>

                    <% end %>
                  </select>

                </td>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="mencao_9" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Selecione sua menção</option>
                    <option value=5>SS</option>
                    <option value=4>MS</option>
                    <option value=3>MM</option>
                    <option value=2>MI</option>
                    <option value=1>II</option>
                    <option value=0>SR</option>
                  </select>
                </td>
                <td>
                  <% for disciplina in current_user.disciplinas%>
                    <tr>
                      <% if disciplina.semestre.include? "9" %>
                      <td><%= disciplina.nome.split('*')[0] %></td>
                      <td><% if disciplina.mencao == "0" %>
                            <%= "SR" %>
                          <%elsif disciplina.mencao == "1"%>
                            <%= "II" %>
                          <% elsif disciplina.mencao == "2"%>
                            <%= "MI" %>
                          <% elsif disciplina.mencao == "3"%>
                            <%= "MM" %>
                          <% elsif disciplina.mencao == "4"%>
                            <%= "MS"%>
                          <% elsif disciplina.mencao == "5"%>
                            <%= "SS"%>
                          <% end %>
                      </td>
                      <% end %>
                    </tr>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
             <button type="submit" name="add_9" value="9" class="btn-floating btn-large green"><i class="material-icons">add</i></button>
             <button type="submit" name="sub_9" value="-9" class="btn-floating btn-large red"><i class="material-icons">delete</i></button>
        </div>
      </div>
    </div>

<!--################################# 10° semestre #####################################################-->

   <div class="col s12 m6">
      <div class="card #1b5e20 green darken-4">
        <div class="card-content white-text">
        <span class="card-title">10° Semestre &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <font size="6" color=#ffcc66>
        <%@soma = 0%>
        <%for disciplina in current_user.disciplinas.all%>
          <% if disciplina.semestre.include? "10" and disciplina.mencao.to_i >= 3 %>
            <% @soma += disciplina.creditos%>
          <%end%>
        <%end%>
        <%= @soma%>
        </font> <font size="2">créditos</font> </span>
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Menção</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="disciplina_10" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Disciplina</option>

                    <%for disciplina in Disciplina.all%>

                      <% if !disciplina.nome.include? '*'%>
                        <option value= <%= disciplina.id %> > <%= disciplina.nome %> </option>
                      <% end %>

                    <% end %>
                  </select>

                </td>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="mencao_10" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Selecione sua menção</option>
                    <option value=5>SS</option>
                    <option value=4>MS</option>
                    <option value=3>MM</option>
                    <option value=2>MI</option>
                    <option value=1>II</option>
                    <option value=0>SR</option>
                  </select>
                </td>
                <td>
                  <% for disciplina in current_user.disciplinas%>
                    <tr>
                      <% if disciplina.semestre.include? "10" %>
                      <td><%= disciplina.nome.split('*')[0] %></td>
                      <td><% if disciplina.mencao == "0" %>
                            <%= "SR" %>
                          <%elsif disciplina.mencao == "1"%>
                            <%= "II" %>
                          <% elsif disciplina.mencao == "2"%>
                            <%= "MI" %>
                          <% elsif disciplina.mencao == "3"%>
                            <%= "MM" %>
                          <% elsif disciplina.mencao == "4"%>
                            <%= "MS"%>
                          <% elsif disciplina.mencao == "5"%>
                            <%= "SS"%>
                          <% end %>
                      </td>
                      <% end %>
                    </tr>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
             <button type="submit" name="add_10" value="10" class="btn-floating btn-large green"><i class="material-icons">add</i></button>
             <button type="submit" name="sub_10" value="-10" class="btn-floating btn-large red"><i class="material-icons">delete</i></button>
        </div>
      </div>
    </div>
  </div>

  <!--################################## 11° semestre #####################################################-->

   <div class="row">
    <div class="col s12 m6">
      <div class="card #1b5e20 green darken-4">
        <div class="card-content white-text">
        <span class="card-title">11° Semestre &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <font size="6" color=#ffcc66>
        <%@soma = 0%>
        <%for disciplina in current_user.disciplinas.all%>
          <% if disciplina.semestre.include? "11" and disciplina.mencao.to_i >= 3 %>
            <% @soma += disciplina.creditos%>
          <%end%>
        <%end%>
        <%= @soma%>
        </font> <font size="2">créditos</font> </span>
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Menção</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="disciplina_11" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Disciplina</option>

                    <%for disciplina in Disciplina.all%>

                      <% if !disciplina.nome.include? '*'%>
                        <option value= <%= disciplina.id %> > <%= disciplina.nome %> </option>
                      <% end %>

                    <% end %>
                  </select>

                </td>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="mencao_11" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Selecione sua menção</option>
                    <option value=5>SS</option>
                    <option value=4>MS</option>
                    <option value=3>MM</option>
                    <option value=2>MI</option>
                    <option value=1>II</option>
                    <option value=0>SR</option>
                  </select>
                </td>
                <td>
                  <% for disciplina in current_user.disciplinas%>
                    <tr>
                      <% if disciplina.semestre.include? "11" %>
                      <td><%= disciplina.nome.split('*')[0] %></td>
                      <td><% if disciplina.mencao == "0" %>
                            <%= "SR" %>
                          <%elsif disciplina.mencao == "1"%>
                            <%= "II" %>
                          <% elsif disciplina.mencao == "2"%>
                            <%= "MI" %>
                          <% elsif disciplina.mencao == "3"%>
                            <%= "MM" %>
                          <% elsif disciplina.mencao == "4"%>
                            <%= "MS"%>
                          <% elsif disciplina.mencao == "5"%>
                            <%= "SS"%>
                          <% end %>
                      </td>
                      <% end %>
                    </tr>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
             <button type="submit" name="add_11" value="11" class="btn-floating btn-large green"><i class="material-icons">add</i></button>
             <button type="submit" name="sub_11" value="-11" class="btn-floating btn-large red"><i class="material-icons">delete</i></button>
        </div>
      </div>
    </div>

<!--################################# 12° semestre #####################################################-->

   <div class="col s12 m6">
      <div class="card #1b5e20 green darken-4">
        <div class="card-content white-text">
        <span class="card-title">12° Semestre &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <font size="6" color=#ffcc66>
        <%@soma = 0%>
        <%for disciplina in current_user.disciplinas.all%>
          <% if disciplina.semestre.include? "12" and disciplina.mencao.to_i >= 3 %>
            <% @soma += disciplina.creditos%>
          <%end%>
        <%end%>
        <%= @soma%>
        </font> <font size="2">créditos</font> </span>
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Menção</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="disciplina_12" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Disciplina</option>

                    <%for disciplina in Disciplina.all%>

                      <% if !disciplina.nome.include? '*'%>
                        <option value= <%= disciplina.id %> > <%= disciplina.nome %> </option>
                      <% end %>

                    <% end %>
                  </select>

                </td>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="mencao_12" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Selecione sua menção</option>
                    <option value=5>SS</option>
                    <option value=4>MS</option>
                    <option value=3>MM</option>
                    <option value=2>MI</option>
                    <option value=1>II</option>
                    <option value=0>SR</option>
                  </select>
                </td>
                <td>
                  <% for disciplina in current_user.disciplinas%>
                    <tr>
                      <% if disciplina.semestre.include? "12" %>
                      <td><%= disciplina.nome.split('*')[0] %></td>
                      <td><% if disciplina.mencao == "0" %>
                            <%= "SR" %>
                          <%elsif disciplina.mencao == "1"%>
                            <%= "II" %>
                          <% elsif disciplina.mencao == "2"%>
                            <%= "MI" %>
                          <% elsif disciplina.mencao == "3"%>
                            <%= "MM" %>
                          <% elsif disciplina.mencao == "4"%>
                            <%= "MS"%>
                          <% elsif disciplina.mencao == "5"%>
                            <%= "SS"%>
                          <% end %>
                      </td>
                      <% end %>
                    </tr>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
             <button type="submit" name="add_12" value="12" class="btn-floating btn-large green"><i class="material-icons">add</i></button>
             <button type="submit" name="sub_12" value="-12" class="btn-floating btn-large red"><i class="material-icons">delete</i></button>
        </div>
      </div>
    </div>
  </div>

  <!--################################## 13° semestre #####################################################-->

   <div class="row">
    <div class="col s12 m6">
      <div class="card #1b5e20 green darken-4">
        <div class="card-content white-text">
        <span class="card-title">13° Semestre &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <font size="6" color=#ffcc66>
        <%@soma = 0%>
        <%for disciplina in current_user.disciplinas.all%>
          <% if disciplina.semestre.include? "13" and disciplina.mencao.to_i >= 3 %>
            <% @soma += disciplina.creditos%>
          <%end%>
        <%end%>
        <%= @soma%>
        </font> <font size="2">créditos</font> </span>
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Menção</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="disciplina_13" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Disciplina</option>

                    <%for disciplina in Disciplina.all%>

                      <% if !disciplina.nome.include? '*'%>
                        <option value= <%= disciplina.id %> > <%= disciplina.nome %> </option>
                      <% end %>

                    <% end %>
                  </select>

                </td>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="mencao_13" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Selecione sua menção</option>
                    <option value=5>SS</option>
                    <option value=4>MS</option>
                    <option value=3>MM</option>
                    <option value=2>MI</option>
                    <option value=1>II</option>
                    <option value=0>SR</option>
                  </select>
                </td>
                <td>
                  <% for disciplina in current_user.disciplinas%>
                    <tr>
                      <% if disciplina.semestre.include? "13" %>
                      <td><%= disciplina.nome.split('*')[0] %></td>
                      <td><% if disciplina.mencao == "0" %>
                            <%= "SR" %>
                          <%elsif disciplina.mencao == "1"%>
                            <%= "II" %>
                          <% elsif disciplina.mencao == "2"%>
                            <%= "MI" %>
                          <% elsif disciplina.mencao == "3"%>
                            <%= "MM" %>
                          <% elsif disciplina.mencao == "4"%>
                            <%= "MS"%>
                          <% elsif disciplina.mencao == "5"%>
                            <%= "SS"%>
                          <% end %>
                      </td>
                      <% end %>
                    </tr>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
             <button type="submit" name="add_13" value="13" class="btn-floating btn-large green"><i class="material-icons">add</i></button>
             <button type="submit" name="sub_13" value="-13" class="btn-floating btn-large red"><i class="material-icons">delete</i></button>
        </div>
      </div>
    </div>

<!--################################# 14° semestre #####################################################-->

   <div class="col s12 m6">
      <div class="card #1b5e20 green darken-4">
        <div class="card-content white-text">
        <span class="card-title">14° Semestre &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <font size="6" color=#ffcc66>
        <%@soma = 0%>
        <%for disciplina in current_user.disciplinas.all%>
          <% if disciplina.semestre.include? "14" and disciplina.mencao.to_i >= 3 %>
            <% @soma += disciplina.creditos%>
          <%end%>
        <%end%>
        <%= @soma%>
        </font> <font size="2">créditos</font> </span>
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Menção</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="disciplina_14" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Disciplina</option>

                    <%for disciplina in Disciplina.all%>

                      <% if !disciplina.nome.include? '*'%>
                        <option value= <%= disciplina.id %> > <%= disciplina.nome %> </option>
                      <% end %>

                    <% end %>
                  </select>

                </td>
                <td>
                  <form action = "/semestre" method = "post">
                  <select name="mencao_14" class="browser-default #1b5e20 green darken-4">
                    <option value="" disabled selected>Selecione sua menção</option>
                    <option value=5>SS</option>
                    <option value=4>MS</option>
                    <option value=3>MM</option>
                    <option value=2>MI</option>
                    <option value=1>II</option>
                    <option value=0>SR</option>
                  </select>
                </td>
                <td>
                  <% for disciplina in current_user.disciplinas%>
                    <tr>
                      <% if disciplina.semestre.include? "14" %>
                      <td><%= disciplina.nome.split('*')[0] %></td>
                      <td><% if disciplina.mencao == "0" %>
                            <%= "SR" %>
                          <%elsif disciplina.mencao == "1"%>
                            <%= "II" %>
                          <% elsif disciplina.mencao == "2"%>
                            <%= "MI" %>
                          <% elsif disciplina.mencao == "3"%>
                            <%= "MM" %>
                          <% elsif disciplina.mencao == "4"%>
                            <%= "MS"%>
                          <% elsif disciplina.mencao == "5"%>
                            <%= "SS"%>
                          <% end %>
                      </td>
                      <% end %>
                    </tr>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
             <button type="submit" name="add_14" value="14" class="btn-floating btn-large green"><i class="material-icons">add</i></button>
             <button type="submit" name="sub_14" value="-14" class="btn-floating btn-large red"><i class="material-icons">delete</i></button>
        </div>
      </div>
    </div>
  </div>
</div>
 
</body>