<!DOCTYPE html>
<html>
  <head>
    <title>PlanejeUnb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<style>
  		body{
  			background-color: white; 
  		}
  	</style>
    <%= yield %>
  </body>
</html>
