
<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para alteração de senha. Você pode fazer isso através do link abaixo</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você, por favor ignore o email.</p>
<p>Sua senha não será alterada até você acessar o link acima e criar uma nova.</p>
