  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="collapsible.html">JavaScript</a></li>
        
        <li><a class="notice"><%= notice %></a>
         <a class="alert"><%= alert %></a></li>


        <li><a class="navbar-text pull-right">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Se inscrever", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </a></li>
        
      </ul>
    </div>
  </nav>
  
<p>Olá <%= @resource.email %>!</p>

<p>Sua conta foi bloqueada devido a um numero excessivo de tentativas de login sem sucesso.</p>

<p>Clique no link abaixo para desbloquear sua conta:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>
