  <nav style="height: 80px;">
    <div class="nav-wrapper #1a237e indigo darken-4">
      <a href="/" class="brand-logo left">Início</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        <li><a class="notice"><%= notice %></a>
         <a class="alert"><%= alert %></a></li>


        <li><a class="navbar-text pull-right">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Se inscrever", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </a></li>
        
      </ul>
    </div>
  </nav>
  
<h1>Editando Disciplina</h1>

<%= render 'form', disciplina: @disciplina %>

<%= link_to 'Mostrar', @disciplina %> |
<%= link_to 'Voltar', disciplinas_path %>
